{% extends "base.html" %}
{% block title %}Login - {{ ASSOCIATION_NAME }}{% endblock %}
{% block content %}
<div class="auth-split">
  <div class="auth-split-left">
    <div class="auth-card">
      <h2>Member Login</h2>
      <p class="kicker">OTP <b>sign in</b></p>
      <form method="post" class="form django-form">
        {% csrf_token %}
        {{ form.as_p }}
        <div class="flex between center">
          <span class="small">We will send an OTP to your registered email and WhatsApp.</span>
        </div>
        <button class="btn btn-primary btn-block" type="submit">Send OTP</button>
      </form>
      <p class="auth-alt">Don't have an account? <a href="{% url 'register' %}">Register</a></p>
      <p class="auth-alt">Admin user? <a href="{% url 'admin_login' %}">Use password login</a></p>
    </div>
  </div>
  <div class="auth-split-right">
    <img src="https://westwardwhiskey.com/cdn/shop/files/NeatKitHexGlasses-lifestyle.png?v=1727212800&width=580" alt="Association welfare illustration">
  </div>
</div>
{% endblock %}
